---
layout: layouts/base.njk
title: Listen
hero_image: /assets/img/sisters.jpg
hero_alt: "Goats eager for treats"
---

<div class="page-content">

  <p>
    The Future Herd is available wherever you get your podcasts. Choose a platform to follow the show, or listen right here.
  </p>


  <h2>Follow on your podcast app</h2>

<p>
  Follow The Future Herd on your preferred platform to get new episodes automatically.
</p>

<ul class="listen-links">
  <li>
    <a href="https://podcasts.apple.com/ca/podcast/the-future-herd/id1874416755" target="_blank" rel="noopener">
      Apple Podcasts
    </a>
  </li>
  <li>
    <a href="https://open.spotify.com/show/3ZUt900c4e5MQdesKAHrgE?si=b0121febd310496b" target="_blank" rel="noopener">
      Spotify
    </a>
  </li>
  <li>
    <a href="https://www.youtube.com/@TheFutureHerd" target="_blank" rel="noopener">
      YouTube
    </a>
  </li>
  <li>
    <a href="https://music.amazon.ca/podcasts/7800851e-2231-4ff2-8921-33c75fba52d8/the-future-herd" target="_blank" rel="noopener">
      Amazon Music
    </a>
  </li>
  <li>
    <a href="https://pca.st/04hs08jt" target="_blank" rel="noopener">
      Pocket Casts
    </a>
  </li>
  <li>
    <a href="https://podcastaddict.com/podcast/the-future-herd/6745535" target="_blank" rel="noopener">
      Podcast Addict
    </a>
  </li>
</ul>
  <h2>Listen right here</h2>

  <div class="captivate-embed">
    <iframe
      title="The Future Herd player"
      frameborder="0"
      scrolling="no"
      allow="clipboard-write"
      seamless
      src="https://player.captivate.fm/show/d9b8c16b-b1b6-43ca-9a42-9d726d63a76d">
    </iframe>
  </div>


</div>
