<footer class="site-footer">
  <div class="wrap" align="center">
    <p class="footer-contact">
      Get in touch:
      <a href="mailto:hello@thefutureherd.ca">hello@thefutureherd.ca</a>
    </p>

    <a href="https://metaviews.ca">
      <img
        src="/assets/img/metaviewslogowide-gb.png"
        alt="Metaviews Media Management"
        loading="lazy"
      />
    </a>

    <p>
      {{ site.title }} is a production of Metaviews Media Management Ltd.
    </p>
  </div>
</footer>
